In [1]:
# import library
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 
from datetime import datetime
import os
%matplotlib inline

In [2]:
# tabel setting
# pd.set_option('display.max_columns',None)
# pd.set_option('display.max_rows',None)
# pd.set_option('display.precision', 2)
# pd.options.display.float_format = '{:,.2f}'.format

# Import Dataset

In [3]:
dataset_dir = './Dataset/NCC-2 Dataset Simultaneous Botnet Dataset/'
sensor1_path = dataset_dir + 'sensor1/'
sensor2_path = dataset_dir + 'sensor2/'
sensor3_path = dataset_dir + 'sensor3/'
allsensor_path = dataset_dir + 'all-sensors/'

In [4]:
os.listdir(sensor3_path)

['sensor3-activityAnalysisPerMinutes-botnetOnly.png',
 'sensor3-activityAnalysisPerMinutes.png',
 'sensor3-acumulatedonHour-botnetOnly.png',
 'sensor3-acumulatedonHour.png',
 'sensor3-description.txt',
 'sensor3.binetflow',
 'sensor3_botnet-only.binetflow',
 'sensor3_normal-only.binetflow']

# Sensor 3 .binetflow

In [5]:
# df1 -> all, df2 -> botnet only, df3 -> normal only
sensor3 = pd.read_csv(sensor3_path + 'sensor3.binetflow')

In [6]:
sensor3.shape

(3885792, 18)

In [7]:
sensor3.columns

Index(['StartTime', 'Dur', 'Proto', 'SrcAddr', 'Sport', 'Dir', 'DstAddr',
       'Dport', 'State', 'sTos', 'dTos', 'TotPkts', 'TotBytes', 'SrcBytes',
       'Label', 'ActivityLabel', 'BotnetName', 'SensorId'],
      dtype='object')

In [8]:
sensor3.dtypes

StartTime         object
Dur              float64
Proto             object
SrcAddr           object
Sport             object
Dir               object
DstAddr           object
Dport             object
State             object
sTos             float64
dTos             float64
TotPkts            int64
TotBytes           int64
SrcBytes           int64
Label             object
ActivityLabel      int64
BotnetName        object
SensorId           int64
dtype: object

In [9]:
sensor3.head()

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,SrcBytes,Label,ActivityLabel,BotnetName,SensorId
0,2022-07-07 09:00:00,0.000000,icmp,147.32.84.165,0x0303,->,202.103.52.147,0xc413,URP,0.0,NaN,1,190,190,flow=From-Botnet-V44-ICMP,1,rbot,3
1,2022-07-07 09:00:00,0.132290,udp,147.32.84.59,54866,<->,216.121.135.141,56313,CON,0.0,0.0,2,133,72,flow=Background-Established-cmpgw-CVUT,0,-,3
2,2022-07-07 09:00:00,3570.602295,tcp,147.32.84.59,44213,<?>,205.188.10.230,443,PA_PA,0.0,0.0,260,19571,7824,flow=Background-Established-cmpgw-CVUT,0,-,3
3,2022-07-07 09:00:00,3595.741455,ipx/spx,00:15:17:2c:e5:2d,NaN,->,ff:ff:ff:ff:ff:ff,NaN,INT,NaN,NaN,568,52954,52954,flow=Background,0,-,3
4,2022-07-07 09:00:00,3467.739746,tcp,69.63.180.46,80,<?>,147.32.85.124,53493,FPA_FPA,0.0,0.0,345,147540,37595,flow=Background,0,-,3

In [10]:
sensor3_cat = sensor3.select_dtypes('object')
sensor3_num = sensor3.select_dtypes(['int64', 'float64'])

In [11]:
print('Kolom Categorical :', sensor3_cat.columns.value_counts().count())
print('Kolom Numerical :', sensor3_num.columns.value_counts().count())

Kolom Categorical : 10
Kolom Numerical : 8

In [12]:
del sensor3_cat, sensor3_num

## Check Missing Value

In [13]:
# Cek Missing Data
total_missing = sensor3.isnull().sum().sort_values(ascending=False)
percent_1 = sensor3.isnull().sum()/sensor3.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0            dTos         301131  7.7
1            sTos          30137  0.8
2           Sport          27890  0.7
3           Dport          13553  0.3
4           State             26  0.0
5         TotPkts              0  0.0
6      BotnetName              0  0.0
7   ActivityLabel              0  0.0
8           Label              0  0.0
9        SrcBytes              0  0.0
10       TotBytes              0  0.0
11      StartTime              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

## Cek Kolom

### Start Time

In [14]:
pd.DataFrame(sensor3['StartTime'].value_counts()).reset_index()

                 StartTime  count
0      2022-07-07 12:31:20   1353
1      2022-07-07 11:46:46   1178
2      2022-07-07 10:48:46   1165
3      2022-07-07 12:01:48   1144
4      2022-07-07 09:54:08   1140
...                    ...    ...
28796  2022-07-07 15:54:14      4
28797  2022-07-07 15:59:20      3
28798  2022-07-07 15:57:57      3
28799  2022-07-07 14:55:04      2
28800  2022-07-07 15:08:10      2

[28801 rows x 2 columns]

### Dir

In [15]:
pd.DataFrame(sensor3['Dir'].value_counts()).reset_index()

     Dir    count
0    <->  2590345
1     ->  1253544
2     <-    20430
3    <?>    12659
4     ?>     7372
5    who     1436
6     <?        6

### State

In [16]:
pd.DataFrame(sensor3['State'].value_counts()).reset_index()

          State    count
0           CON  2585301
1     FSPA_FSPA   552923
2           INT   161125
3     SRPA_FSPA    72090
4            S_    70696
..          ...      ...
294   SPAEC_SPA        1
295        SA_S        1
296     FPA_SPA        1
297       PA_FA        1
298  SRPAEC_SAE        1

[299 rows x 2 columns]

### BotNet Name

In [17]:
pd.DataFrame(sensor3['BotnetName'].value_counts()).reset_index()

  BotnetName    count
0          -  3591792
1      neris   220000
2      virut    38000
3      murlo    14000
4       rbot    13000
5    nsis.ay     9000

### SrcAddr

In [18]:
pd.DataFrame(sensor3['SrcAddr'].value_counts()).reset_index()

               SrcAddr   count
0        147.32.84.138  657515
1         147.32.84.59  600006
2         147.32.85.25  136842
3        147.32.84.229  130008
4         147.32.86.20   93943
...                ...     ...
448304  50.130.145.186       1
448305     93.81.47.50       1
448306  109.165.51.201       1
448307   92.253.42.130       1
448308    24.71.151.41       1

[448309 rows x 2 columns]

### DstAddr

In [19]:
pd.DataFrame(sensor3['DstAddr'].value_counts()).reset_index()

               DstAddr    count
0          147.32.80.9  1618579
1        147.32.84.229   456705
2        147.32.86.165   309233
3         147.32.80.13    32222
4        147.32.84.118    28649
...                ...      ...
160057  76.171.244.199        1
160058    75.39.225.79        1
160059   50.46.232.114        1
160060     68.36.53.73        1
160061    213.227.88.5        1

[160062 rows x 2 columns]

### Proto

In [20]:
pd.DataFrame(sensor3['Proto'].value_counts()).reset_index()

        Proto    count
0         udp  2744470
1         tcp  1054886
2        icmp    75155
3        igmp     5221
4         rtp     2389
5        rtcp     1944
6         arp     1432
7   ipv6-icmp      165
8        ipv6       42
9     ipx/spx       36
10        pim       19
11        esp       12
12        udt        9
13       rarp        4
14        llc        3
15       unas        2
16       rsvp        2
17        gre        1

### Sport

In [21]:
pd.DataFrame(sensor3['Sport'].value_counts()).reset_index()

        Sport   count
0       13363  129446
1       12114   45115
2      0x0303   35460
3        7103   14264
4          80   13020
...       ...     ...
65304  0x7d00       1
65305     148       1
65306  0xb700       1
65307  0xdf00       1
65308  0x3e45       1

[65309 rows x 2 columns]

### Dport

In [22]:
pd.DataFrame(sensor3['Dport'].value_counts()).reset_index()

        Dport    count
0          53  1628436
1          80   631906
2       13363   424617
3       12114   288197
4         443   162614
...       ...      ...
68576  0x487a        1
68577    9333        1
68578   14719        1
68579   56035        1
68580  0x246c        1

[68581 rows x 2 columns]

### dTos

In [23]:
pd.DataFrame(sensor3['dTos'].value_counts()).reset_index()

   dTos    count
0   0.0  3584032
1   3.0      341
2   2.0      247
3   1.0       41

### sTos

In [24]:
pd.DataFrame(sensor3['sTos'].value_counts()).reset_index()

    sTos    count
0    0.0  3852195
1    3.0     1302
2  192.0     1113
3    2.0      667
4    1.0      378

## Labeling

In [25]:
pd.DataFrame(sensor3['Label'].value_counts()).reset_index()

                                        Label    count
0      flow=To-Background-UDP-CVUT-DNS-Server  1553211
1             flow=Background-UDP-Established   908173
2             flow=Background-TCP-Established   408535
3      flow=Background-Established-cmpgw-CVUT   268040
4                 flow=Background-UDP-Attempt   134922
..                                        ...      ...
157  flow=From-Normal-V44-UDP-CVUT-DNS-Server        8
158        flow=From-Normal-V50-MatLab-Server        6
159        flow=Normal-V50-HTTP-windowsupdate        6
160        flow=Normal-V44-HTTP-windowsupdate        5
161        flow=From-Normal-V45-MatLab-Server        4

[162 rows x 2 columns]

In [26]:
def categorize_label(label):
    label = label.lower()  
    if 'botnet' in label and 'spam' in label:
        return 2
    elif 'botnet' in label:
        return 1
    else:
        return 0

In [27]:
sensor3['Label'] = sensor3['Label'].apply(categorize_label)

In [28]:
sensor3.head()

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,SrcBytes,Label,ActivityLabel,BotnetName,SensorId
0,2022-07-07 09:00:00,0.000000,icmp,147.32.84.165,0x0303,->,202.103.52.147,0xc413,URP,0.0,NaN,1,190,190,1,1,rbot,3
1,2022-07-07 09:00:00,0.132290,udp,147.32.84.59,54866,<->,216.121.135.141,56313,CON,0.0,0.0,2,133,72,0,0,-,3
2,2022-07-07 09:00:00,3570.602295,tcp,147.32.84.59,44213,<?>,205.188.10.230,443,PA_PA,0.0,0.0,260,19571,7824,0,0,-,3
3,2022-07-07 09:00:00,3595.741455,ipx/spx,00:15:17:2c:e5:2d,NaN,->,ff:ff:ff:ff:ff:ff,NaN,INT,NaN,NaN,568,52954,52954,0,0,-,3
4,2022-07-07 09:00:00,3467.739746,tcp,69.63.180.46,80,<?>,147.32.85.124,53493,FPA_FPA,0.0,0.0,345,147540,37595,0,0,-,3

In [29]:
sensor3['Label'].value_counts()

Label
0    3591792
1     271000
2      23000
Name: count, dtype: int64

## Cleaning Data

### Drop Duplicates

In [30]:
sensor3 = sensor3.drop_duplicates()

In [31]:
sensor3.shape

(3884201, 18)

### Drop dTos

In [32]:
cek = sensor3[(sensor3['dTos'].isnull())]

In [33]:
cek['Label'].value_counts()

Label
0    259212
1     29562
2     11999
Name: count, dtype: int64

In [34]:
cek = cek[cek['Label'] == 0]

In [35]:
cek['Label'].value_counts()

Label
0    259212
Name: count, dtype: int64

In [36]:
sensor3 = sensor3.drop(cek.index)

In [37]:
# Cek Missing Data
total_missing = sensor3.isnull().sum().sort_values(ascending=False)
percent_1 = sensor3.isnull().sum()/sensor3.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0            dTos          41561  1.1
1            sTos          28660  0.8
2           Sport          21109  0.6
3           Dport           1756  0.0
4           State             10  0.0
5         TotPkts              0  0.0
6      BotnetName              0  0.0
7   ActivityLabel              0  0.0
8           Label              0  0.0
9        SrcBytes              0  0.0
10       TotBytes              0  0.0
11      StartTime              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

### Drop sTos

In [38]:
cek = sensor3[(sensor3['sTos'].isnull())]

In [39]:
cek['Label'].value_counts()

Label
0    28660
Name: count, dtype: int64

In [40]:
sensor3 = sensor3.drop(cek.index)

In [41]:
# Cek Missing Data
total_missing = sensor3.isnull().sum().sort_values(ascending=False)
percent_1 = sensor3.isnull().sum()/sensor3.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0            dTos          41561  1.2
1           Dport           1752  0.0
2           Sport            998  0.0
3           State             10  0.0
4       StartTime              0  0.0
5         TotPkts              0  0.0
6      BotnetName              0  0.0
7   ActivityLabel              0  0.0
8           Label              0  0.0
9        SrcBytes              0  0.0
10       TotBytes              0  0.0
11           sTos              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

### Drop Dport

In [42]:
cek = sensor3[sensor3['Dport'].isnull()]

In [43]:
cek['Label'].value_counts()

Label
1    1728
0      24
Name: count, dtype: int64

In [44]:
cek = cek[cek['Label'] == 0]

In [45]:
cek['Label'].value_counts()

Label
0    24
Name: count, dtype: int64

In [46]:
sensor3 = sensor3.drop(cek.index)

In [47]:
# Cek Missing Data
total_missing = sensor3.isnull().sum().sort_values(ascending=False)
percent_1 = sensor3.isnull().sum()/sensor3.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0            dTos          41561  1.2
1           Dport           1728  0.0
2           Sport            979  0.0
3           State             10  0.0
4       StartTime              0  0.0
5         TotPkts              0  0.0
6      BotnetName              0  0.0
7   ActivityLabel              0  0.0
8           Label              0  0.0
9        SrcBytes              0  0.0
10       TotBytes              0  0.0
11           sTos              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

### Drop Sport

In [48]:
cek = sensor3[sensor3['Sport'].isnull()]

In [49]:
cek['Label'].value_counts()

Label
1    973
0      6
Name: count, dtype: int64

In [50]:
cek = cek[cek['Label'] == 0]

In [51]:
cek['Label'].value_counts()

Label
0    6
Name: count, dtype: int64

In [52]:
sensor3 = sensor3.drop(cek.index)

In [53]:
# Cek Missing Data
total_missing = sensor3.isnull().sum().sort_values(ascending=False)
percent_1 = sensor3.isnull().sum()/sensor3.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0            dTos          41561  1.2
1           Dport           1728  0.0
2           Sport            973  0.0
3           State             10  0.0
4       StartTime              0  0.0
5         TotPkts              0  0.0
6      BotnetName              0  0.0
7   ActivityLabel              0  0.0
8           Label              0  0.0
9        SrcBytes              0  0.0
10       TotBytes              0  0.0
11           sTos              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

### Drop State

In [54]:
cek = sensor3[sensor3['State'].isnull()]

In [55]:
cek['Label'].value_counts()

Label
1    10
Name: count, dtype: int64

In [56]:
# Cek Missing Data
total_missing = sensor3.isnull().sum().sort_values(ascending=False)
percent_1 = sensor3.isnull().sum()/sensor3.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0            dTos          41561  1.2
1           Dport           1728  0.0
2           Sport            973  0.0
3           State             10  0.0
4       StartTime              0  0.0
5         TotPkts              0  0.0
6      BotnetName              0  0.0
7   ActivityLabel              0  0.0
8           Label              0  0.0
9        SrcBytes              0  0.0
10       TotBytes              0  0.0
11           sTos              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

## Imputing

### dTos

In [57]:
sensor3['dTos'].value_counts()

dTos
0.0    3554109
3.0        341
2.0        247
1.0         41
Name: count, dtype: int64

In [58]:
cek = sensor3[sensor3['dTos'].isnull()]

In [59]:
cek['Label'].value_counts()

Label
1    29562
2    11999
Name: count, dtype: int64

In [60]:
# Impute with modes
mode_value1 = sensor3[sensor3['Label'] == 1]['dTos'].mode()[0]
mode_value2 = sensor3[sensor3['Label'] == 2]['dTos'].mode()[0]

sensor3.loc[(sensor3['dTos'].isnull()) & (sensor3['Label'] == 1), 'dTos'] = mode_value1
sensor3.loc[(sensor3['dTos'].isnull()) & (sensor3['Label'] == 2), 'dTos'] = mode_value2

In [61]:
# Cek Missing Data
total_missing = sensor3.isnull().sum().sort_values(ascending=False)
percent_1 = sensor3.isnull().sum()/sensor3.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0           Dport           1728  0.0
1           Sport            973  0.0
2           State             10  0.0
3       StartTime              0  0.0
4         TotPkts              0  0.0
5      BotnetName              0  0.0
6   ActivityLabel              0  0.0
7           Label              0  0.0
8        SrcBytes              0  0.0
9        TotBytes              0  0.0
10           sTos              0  0.0
11           dTos              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

### Dport

In [62]:
sensor3['Dport'].value_counts()

Dport
53        1628176
80         623420
13363      424232
12114      246831
443        156707
           ...
7835            1
48783           1
40051           1
48590           1
0x0d1c          1
Name: count, Length: 50627, dtype: int64

In [63]:
cek = sensor3[sensor3['Dport'].isnull()]

In [64]:
cek['Label'].value_counts()

Label
1    1728
Name: count, dtype: int64

In [65]:
# Impute with modes
mode_value = sensor3[sensor3['Label'] == 1]['Dport'].mode()[0]
sensor3['Dport'] = sensor3['Dport'].fillna(mode_value)

### Sport

In [66]:
sensor3['Sport'].value_counts()

Sport
13363     113234
12114      39990
13815       6982
123         6680
0x0303      5934
           ...
0xe01d         1
0xc354         1
83             1
0xbe2c         1
0x3e45         1
Name: count, Length: 65060, dtype: int64

In [67]:
cek = sensor3[sensor3['Sport'].isnull()]

In [68]:
cek['Label'].value_counts()

Label
1    973
Name: count, dtype: int64

In [69]:
# Impute with modes
mode_value = sensor3[sensor3['Label'] == 1]['Sport'].mode()[0]
sensor3['Sport'] = sensor3['Sport'].fillna(mode_value)

### State

In [70]:
sensor3['State'].value_counts()

State
CON           2584422
FSPA_FSPA      552722
SRPA_FSPA       72085
SRPA_SPA        66905
FSA_FSA         49890
               ...
PA_FA               1
SRC                 1
FSA_FRPA            1
SR_FSPA             1
SRPAEC_SAE          1
Name: count, Length: 259, dtype: int64

In [71]:
cek = sensor3[sensor3['State'].isnull()]

In [72]:
cek['Label'].value_counts()

Label
1    10
Name: count, dtype: int64

In [73]:
# Impute with modes
mode_value = sensor3[sensor3['Label'] == 1]['State'].mode()[0]
sensor3['State'] = sensor3['State'].fillna(mode_value)

In [74]:
# Cek Missing Data
total_missing = sensor3.isnull().sum().sort_values(ascending=False)
percent_1 = sensor3.isnull().sum()/sensor3.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0       StartTime              0  0.0
1             Dur              0  0.0
2      BotnetName              0  0.0
3   ActivityLabel              0  0.0
4           Label              0  0.0
5        SrcBytes              0  0.0
6        TotBytes              0  0.0
7         TotPkts              0  0.0
8            dTos              0  0.0
9            sTos              0  0.0
10          State              0  0.0
11          Dport              0  0.0
12        DstAddr              0  0.0
13            Dir              0  0.0
14          Sport              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

In [75]:
# sensor3.to_csv('./Dataset/sensor3_clean.csv', index=False)

## Categorical Encoding

In [55]:
# df.to_csv('./Dataset/df_clean.csv')

In [76]:
dataset = pd.DataFrame(sensor3[[
    'StartTime',
    'SrcAddr',
    'DstAddr',
    'Sport',
    'Dport',
    'sTos',
    'dTos',
    'Dir',
    'State',
    'Proto',
    'Dur',
    'TotPkts',
    'TotBytes',
    'SrcBytes',
    'BotnetName',
    'Label',
    ]])

### Start Time

In [77]:
dataset['StartTime'] = pd.to_datetime(dataset['StartTime'], errors='coerce')

dataset['StartTimeHour'] = dataset['StartTime'].dt.hour
dataset['StartTimeMinute'] = dataset['StartTime'].dt.minute
dataset['StartTimeSecond'] = dataset['StartTime'].dt.second
dataset = dataset.drop(columns=['StartTime'])

### SrcAddr & DstAddr & Sport & Dport

In [78]:
# Frequency Encoding
def frequency_encoding(df):
    freq_map = df.value_counts().to_dict()  # Create frequency map
    df = df.map(freq_map)  # Apply frequency encoding
    return df

In [79]:
dataset['SrcAddr'] = frequency_encoding(dataset['SrcAddr'])
dataset['DstAddr'] = frequency_encoding(dataset['DstAddr'])
dataset['Sport'] = frequency_encoding(dataset['Sport'])
dataset['Dport'] = frequency_encoding(dataset['Dport'])

### Dir & State & dTos & sTos & Proto

In [80]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
dataset['Dir'] = le.fit_transform(dataset['Dir'].astype(str))
dataset['State'] = le.fit_transform(dataset['State'].astype(str))
dataset['sTos'] = le.fit_transform(dataset['sTos'].astype(str))
dataset['dTos'] = le.fit_transform(dataset['dTos'].astype(str))
dataset['BotnetName'] = le.fit_transform(dataset['BotnetName'].astype(str))
dataset['Proto'] = le.fit_transform(dataset['Proto'].astype(str))

In [81]:
dataset.shape

(3596299, 18)

In [82]:
dataset.head()

,SrcAddr,DstAddr,Sport,Dport,sTos,dTos,Dir,State,Proto,Dur,TotPkts,TotBytes,SrcBytes,BotnetName,Label,StartTimeHour,StartTimeMinute,StartTimeSecond
0,86658,47,6907,300,0,0,0,250,0,0.000000,1,190,190,4,1,9,0,0
1,587582,6,667,10,0,0,3,9,4,0.132290,2,133,72,0,0,9,0,0
2,587582,19,48,156707,0,0,5,124,3,3570.602295,260,19571,7824,0,0,9,0,0
4,7,69,4169,2,0,0,5,25,3,3467.739746,345,147540,37595,0,0,9,0,0
5,9327,1996,102,625148,0,0,0,78,3,115.104431,10,2840,1709,0,0,9,0,0

In [87]:
dataset['isBotnet'] = dataset['Label'].apply(lambda x: 1 if x == 1 or x == 2 else 0)
dataset['isSpam'] = dataset['Label'].apply(lambda x: 1 if x == 2 else 0)

In [88]:
dataset.columns

Index(['SrcAddr', 'DstAddr', 'Sport', 'Dport', 'sTos', 'dTos', 'Dir', 'State',
       'Proto', 'Dur', 'TotPkts', 'TotBytes', 'SrcBytes', 'BotnetName',
       'Label', 'StartTimeHour', 'StartTimeMinute', 'StartTimeSecond',
       'isBotnet', 'isSpam'],
      dtype='object')

In [89]:
# dataset.to_csv('./Dataset/sensor3_clean.csv', index=False)